.container {
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  overflow-y: auto;
  & .content {
    width: 80%;
    border-radius: 15px;
  }
}
